body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url('csskepek/dsgoat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #f5f5f5;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}