h1 {
    text-align: center;
}
body {
    color:black;
}
a, button {
    background-color: black;
    color: white;
    text-decoration: none;
}
button, img {
    display: block; /*chatgpt kód, minden más fejből vagy w3school-ról jött*/
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
